@charset "ISO-8859-1";

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;

}
body {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  background: #0A2C38;
  /* background: linear-gradient(#141e30, #243b55); */
}

.MPlogoImg{
  position: absolute;
  left: 42%;
  height: 250px;
  width: 250px;
}

.loginBtn {
  position: absolute;
  left: 52%;
  background: #57BEA3;
  border: 0;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  color: #0A2C38;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.loginBtn:hover {
  background-color: #01B9FF;
  color: white;
}


.login-box {
  position: absolute;
  top: 62%;
  left: 50%;
  width: 500px;
  height: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(10,10,10); */
  background: #0E313D;
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(12,74,96,1.0); */
  /* rgba(89,254,252,.6) */
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 10px 20px rgba(12,74,96,0.91);
  box-shadow: 3px 2px 15px 13px rgba(12,74,96,0.80);
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

  .signupTxt {
  color: #57BEA3 ;
  font-size: 20px;
}

.signupTxt:hover {
  color: #01B9FF;
}


.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(10,10,10); */
  background: #0E313D;
  box-sizing: border-box;
  /* box-shadow: 0 15px 25px rgba(12,74,96,1.0); */
  /* rgba(89,254,252,.6) */
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 10px 20px rgba(12,74,96,0.91);
  box-shadow: 3px 2px 15px 13px rgba(12,74,96,0.80);
}

.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #57BEA3;
  text-align: center;
}

.signup-box .sb-user-box {
  position: relative;
}

.signup-box .sb-user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.signup-box .sb-user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.signup-box .sb-user-box input:focus ~ label,
.signup-box .sb-user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.signupBtn {
  /* position: absolute; */
  left: 30%;
  background: #57BEA3;
  border: 0;
  border-radius: 10px;
  height: 45px;
  width: 125px;
  color: #0A2C38;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.signupBtn:hover {
  background-color: #01B9FF;
  color: white;
}

.signinTxt{
  /* position: absolute; */
  color: #57BEA3 ;
  text-align: center;
  left: 30%;
  font-size: 20px;
}

.signinTxt:hover {
  color: #01B9FF;
}
