table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

body{
<<<<<<< HEAD
  /* background: rgb(20,30,48); */
  /* background: linear-gradient(180deg, rgba(20,30,48,1) 0%, rgba(16,37,52,1) 30%, rgba(16,63,80,1) 56%, rgba(21,72,90,1) 80%, rgba(34,100,124,1) 100%); */
  background-color: #0E313D;
  margin-left: 30px;
=======


  /*background: rgb(20,30,48);
  background: linear-gradient(180deg, rgba(20,30,48,1) 0%, rgba(16,37,52,1) 30%, rgba(16,63,80,1) 56%, rgba(21,72,90,1) 80%, rgba(34,100,124,1) 100%);
 */
 
  background-color: #0E313D;
  margin-left: 30px;	

>>>>>>> 92b239653623d2a29683ed92ee069916527dec70
  width: 70%;
  color: #01B9FF;

}

.headerstyle{
  text-align: left;
  padding-left: 100px;
  font-weight: 500;
  color: powderblue;
}

.th-sm{
  font-weight: 500;
  font-size: 15px;
}

.thx{
  font-weight:500;
  font-size: 20px;
}

.tbprp{
  text-align: center;
  /* position: absolute; */
  margin-left: auto;

  margin-right: auto;
  background-color: #0E313D;
  color: white;

  /* top: 20%;
  left: 10%; */

}

.searchBox{
  position: absolute;
  top: 170px;
  left: 75%;
  /*border: 2px;
  border-color: black;*/

 /* margin-left: auto;
  margin-right: auto;*/
}

.searchMail{
  position: absolute;
  width: auto;
  top: 20px;
  left: 75%;
  /* padding-right: px; */
}

#searchemailid {
  text-align: center;
  height: 30px;
  border-radius: 10px;
}

#searchemailidBTN{
  position: absolute;
  left: 100%;
  background: #57BEA3;
  border: 0;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: #0A2C38;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

#searchemailidBTN:hover {
  background-color: #01B9FF;
  color: white;
}
